.navbar {
    background: rgb(92, 86, 86);
}
.nav-link, .navbar-brand {
color: #f4f4f4; 
cursor:pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background: #fff !important;
}
.header{
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/* Not seeing effects of this -- review */
/* TODO: */
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(148, 140, 140, 0.55);
    /* z-index: 5; */
}
/* TODO : review above .overlay */

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color: #59a3e9;
}
.description p{
    color: rgb(223, 213, 213);
    font-size: 20px;
    width: 50%;
    line-height: 1.5; 
}
.description button{
    border: 1px solid #10828c;
    background: #10828c;
    color: #fff;
}



.about{
    margin: 1em 0;
    padding: 2em;
    position: relative;
    /* background-color: #59a3e9; */
}
.about h1{
    color:#fff;
    margin: 2em;
}
.about img{
    height: 50%;
    width: 100%;
    border-radius: 50%;
}
.about span{
    display: block;
    color: #000;
    position: absolute;
    left: 65px;
    font-size: small;
    font-weight: 600;
}
.about desc{
    padding: 2em;
    border-left: 4px solid #10828c;
}
.about .desc p{
    line-height: 2;
    color: rgb(102, 95, 95);
    font-weight: 500;
}

.card {
    box-shadow: 19px 25px 15px 12px rgba(0,0,0,0.75);
}

.portfolio .row div img{
    box-shadow: 19px 25px 15px -3px rgba(0,0,0,0.75);
}
.portfolio h1{
    text-shadow: 10px 2px 8px #547DCE;
}
.blog h1{
    text-shadow: 10px 2px 8px #547DCE;
}
#aboutO{
    text-shadow: 10px 2px 8px #547DCE;
}